# Ignore .env files in UserService and EventService
/UserService/.env
/EventService/.env
/NotificationService/.env
/BookingService/.env
*.env

# Ignore node_modules folders
/UserService/node_modules/
/EventService/node_modules/
/NotificationService/node_modules/
/BookingService/node_modules/

# Ignore docker files
docker
docker-compose.yaml
docker-compose.yml
*.dockerignore

# Ignore Kubernetes folder
/Kubernetes/
